  .home {
    background-image: url(../Common/bg.png);
    display: flex;
    flex-direction: column;
    /* height: 100%; */
  }
  .main {
    margin-top: 475px;
    display: flex;
    flex-direction: column;
  }
  .content {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    height: 600px;
  }
  .content-item {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    background-color: #fff;
    border-radius: 20px;
    opacity: 0.93;
  }
  .content__title, .content__reply {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
  }
  .content__title {
    border-bottom-color: #EBEBEB;
    border-bottom-width: 2px;
  }
  .content__title text, .content__reply text {
    font-size: 28px;
    color: #333;
    line-height: 42px;
  }
  .content__title .font-weight, .content__reply .font-weight {
      color: #999;
  } 
  .font-weight {
    font-weight: bold;
  }
  .content__copy {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content__copy__icon {
      width: 26px;
      height: 30px;
  }
  .content__copy__text {
      font-size: 28px;
      color: #C2C2C2;
      margin-top: 5px;
  }

  .recharge-btn {
      height: 86px;
      width: 320px;
      border-radius: 43px;
      margin: 0 auto;
      background: linear-gradient(-30deg,rgba(238,0,0,1),rgba(255,82,33,1));
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .recharge__icon {
      width: 28px;
      height: 26px;
  }
  .recharge__text {
      font-size: 32px;
      color: #fff;
      margin-left: 15px;
  }

  .footer-ad {
      position: relative;
      margin-bottom: 100px;
      margin-top: 80px;
  }
  .footer-ad__img {
      height: 180px;
      background-color: #E2E2E2;
      width: 100%;
  }

  .close {
      position: absolute;
      right: 17px;
      top: 17px;
      width: 24px;
      height: 24px;
  }

  .modal {
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
  }
  .mask {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .4);
  }
  .modal-content {
      position: absolute;
      top: 50%;
      width: 100%;
      padding: 0 50px;
      transform: translateY(-50%);
  }
  .insert-ad {
      width: 100%;
      height: 400px;
      background-color: #fff;
      border-radius: 20px;
      position: relative;
  }